# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
backend/.env
backend/venv/

# Django
backend/media/

# Python
backend/core/__pycache__/
backend/core/migrations/__pycache__/
backend/Eido_quiz/__pycache__/
*.pyc
db.sqlite3

# Node
frontend/node_modules/
frontend/dist/
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?