# Django core and framework
Django>=5.0,<5.1
djangorestframework>=3.15.0
djangorestframework-simplejwt>=5.3.1

# Database connector for MySQL
pymysql
python-socketio
uvicorn
drf_extra_fields

# Image processing and Base64 fields
django-extra-fields>=3.0.1
Pillow>=10.3.0

# Real-time WebSockets (Django Channels & ASGI server)
channels>=4.1.0
daphne>=4.1.2
channels-redis>=4.2.1

# Utilities and Security
django-cors-headers>=4.3.1
python-dotenv>=1.0.1